@{
    ViewData["Title"] = "Confirmação de apagar o Usuário";
}

<div class="text-center">

    <h3>Realmente deseja excluir usuário?</h3>

</div>

<a class="btn btn-primary btn-block" role="button" asp-controller="Usuários" asp-action="Index">Cancelar</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Usuários" asp-action="Apagar">Confirmar</a>