@{
    ViewData["Title"] = "Lista de Usuários";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
        <a class="btn btn-primary" role="button" asp-controller="Usuários" asp-action="Criar">Adicionar novo Usuário</a>
    </div>
    <br />

    <h1 class="display-4"> Lista de Usuários</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Disciplina</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Fábio Bezerra</td>
                <td>Fábio@gmail.com</td>
                <td>Laboratório e Produção de Software</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Usuários" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Usuários" asp-action="Excluir">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jorge Sousa</td>
                <td>Jorge@gmail.com</td>
                <td>Sistemas Distribuídos</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Usuários" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Usuários" asp-action="Excluir">Excluir</a>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Fábio Bezerra</td>
                <td>Fábio@gmail.com</td>
                <td>Auditoría e Segurança de Sistemas</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-controller="Usuários" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-controller="Usuários" asp-action="Excluir">Excluir</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>
